
@{
    ViewBag.Title = "dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<!--image gallery-->
<section class="image-gallery">
    <div class="container">
        <div class="row">
            <!--single item strt-->
            <div class="col-md-4 position">

                <img src="~/staticimages/gallery1.jpg" alt="Roses" class="gallery-image" />
                <div class="middle">

                    <h4>Total products</h4>
                    <h4>10</h4>
                </div>
            </div>
            <!--single item end-->
            <!--single item strt-->

            <div class="col-md-4 position">

                <img src="~/staticimages/gallery3.jpg" alt="Roses" class="gallery-image" />
                <div class="middle">

                    <h4>Total Orders</h4>
                    <h4>15</h4>
                </div>
            </div>

            <!--single item end-->
            <!--single item strt-->
            <div class="col-md-4 position">

                <img src="~/staticimages/gallery2.jpg" alt="Roses" class="gallery-image" />
                <div class="middle">

                    <h4>Messages</h4>

                    <h4>5</h4>
                </div>
            </div>
            <!--single item end-->
        </div>
    </div>
</section>